body{
	background-color: #000000;
}
#menu{
	background-color: #303030;
	margin: 5px auto;
	padding: 15px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
}
.hamburguesa{
    display:none;
}
@media (max-width:767px){

    .hamburguesa{
        display:block;
        width:100%;
        background:#303030;
        color:#E50914;
        border:none;
        font-size:35px;
        padding:10px;
        cursor:pointer;
    }

    #menu{
        display:none;
        flex-direction:column;
    }

    #menu.mostrar{
        display:flex;
    }

}

/*a.boton{
	 color: #FFFFFF;
	 text-decoration: none;
}*/
.boton{
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
	background-color: #303030;
	line-height: 60px;
	width: auto;
	padding: 0 1em;
	text-decoration: none;
}
.boton:hover{
	color: #FFFFFF;
	background-color: #616161;
	text-decoration: none;
}


div[class^="col-"]{
	/*border: 1px solid white;*/
	margin-block: 20px;
}
p{
	color: #FFFFFF;
	font-size: 15px;
}
#titulo{
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
}
.button-trailer{
	background: #E50914;
	color: #FFFFFF;
	text-decoration: none;
}
.button-trailer:hover{
	background-color: #F73640;
	color: #FFFFFF;
	text-decoration: none;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#footer{
	text-align: center;
	outline: none;
}
#pelicula{
	color: #FFFFFF;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin-top: 5px;
}
#encabezado{
	width: 400px;
	height: auto;
	margin: 5px auto;
	display: block;
	border: none;
	outline: none;
}
footer{
	margin-top: 150px;
}
div.trailer{
	margin-top: 80px;
}
img{
	transition: 0.3s;
	border-radius: 25px;
}

img:hover{
	transform: scale(1.05);
}
